html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -10px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 9px;
    color: #333;
    font-size: 0.8em;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.highlight {
    background: #fff !important;
}

a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #fe3f44;
    text-decoration: none;
}
.list-entry {
    padding: 20px;
    margin-top: 10px;
}
.list-entry:hover {
    background-color: #eee;
}

.list-link {
    text-decoration: none !important;
}

#twitter-widget-expand {
    margin-top: 4px;
}
.twitter-timeline {
    margin-top: 10px !important;
}
.social-link {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-style: dashed;
    border-color: #ccc;
    border-width: 0 0 1 0;
}
.social-link:last-child {
    border-style: none;
}

.page-header {
    padding: 0px;
}

.section-links {
    padding-top: 16px;
    font-size: .6em;
}

.proj-list h3 { margin-top: 10px; }
.proj-list blockquote:hover { border-color: #fe3f44; }
.proj-list p a:link { text-decoration: underline; }
.proj-list a:hover p { color: #111; }
/*.proj-list h3:hover { color: #fe3f44; }*/
.proj-list img {
    width: 125px;
    height: 125px;
    z-index: -10;
    overflow: hidden;
}
.list-group h3 { margin-top: 2px; }
.list-group small { font-size: 0.5em; margin-top: 8px; }
.list-group blockquote:hover { border-color: #fe3f44; }
.list-group p a:link { text-decoration: underline; }
.list-group a:hover p,em { color: #111; }
/*.list-group h3:hover { color: #fe3f44; }*/

.post-date {
    font-size: 0.7em;
    padding-top: 7px;
}
.post-main p a:link { text-decoration: underline; }
