<html>
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap-theme.css" />-->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
{% endblock %}


<body>
<div id="wrap">
<div class="container">
<div class="page-header row">
    <div class="col-sm-7">
        {% block content_title %}
        {% endblock %}
    </div>
    <div class="col-sm-5 h1">
        <ul class="section-links list-inline pull-right">
            {% for p in pages %}<li><a href="/{{ p.url }}">{{ p.title }}</a></li>{% endfor %}
            {% for c in categories %}<li><a href="{{ SITEURL }}/{{ c.0.slug }}">{{ c.0 }}</a></li>{% endfor %}
        </ul>
    </div>
</div>
    <div class="col-sm-9">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-sm-3">
        <div class="sidebar">
            <ul class="list-unstyled social-link-list">
                <li class="social-link"><a href="//twitter.com/kmakai"><i class="fa fa-twitter fa-lg"></i> twitter</a> <a href="#" id="twitter-widget-expand" class="pull-right"><i class="fa fa-chevron-down fa-lg"></i></a></li>
                <li class="social-link"><a href="//kmakai.itch.io"><i class="fa fa-gamepad fa-lg"></i> games</a></li>
                <!--<li class="social-link"><iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/58947816&amp;auto_play=false&amp;hide_related=false&amp;visual=false"></iframe></li>-->
                <li class="social-link"><a href="//github.com/ktravis"><i class="fa fa-github-alt fa-lg"></i> github</a></li>
                <li class="social-link"><a href="//youtube.com/user/wetscience"><i class="fa fa-youtube-play fa-lg"></i> youtube</a></li>
                <li class="social-link"><a href="//email:ktravis@uoregon.edu"><i class="fa fa-envelope fa-lg"></i> email</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<div id="footer">
    <p class="text-center">&copy; 2014 Kyle Travis, under <a href="//ktravis.mit-license.org">MIT License</a>. Proudly built with <a href="//docs.getpelican.com/">Pelican</a>, <a href="//daringfireball.net/projects/markdown/">Markdown</a>, <a href="//pygments.org">Pygments</a></p>
</div>
<script>
</script>
</body>

</html>
