{% extends "index.html" %}


{% block page_title %}
{{ category }}
{% endblock %}
{% block page_description %}
    {{ articles|length }} post{% if articles|length != 1 %}s{% endif %}
{% endblock %}

{% block content %}
<div class="list-group">
        {% for article in articles %}
            <blockquote class="row drop-in"><em class="post-date pull-right">{{ article.locale_date }}</em>
            <a href="{{ SITEURL }}/blog/{{ article.slug }}">
                <h3>{{ article.title }}</h3>
            </a>
                <p>{{ article.summary }}</p>
            </blockquote>
        {% endfor %}
</div>
{% endblock %}

