{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" type="text/css" href="/static/materialdesignicons.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/gfm.css">
        <title>{{ block "title" . }}kylemtravis.com{{ end }}</title>
    </head>
    <body>
        <header>
            <h1><a href="/">~</a>{{ block "breadcrumbs" . }}/kyle-m-travis{{ end }}</h1>
            <nav>
                <ul class="nav navbar-nav">

                <li><a href="/blog/">Blog</a></li>

                <li><a href="/projects/">Projects</a></li>

                <li><a href="/about/">About</a></li>

                </ul>
            </nav>
        </header>

        <div class="page">
            {{ block "body" . }}
            {{ end }}
        </div>
        <footer>
        © Copyright 2020 by Kyle Travis.
        </footer>

    </body>
</html>
{{ end }}
