@import "/static/prism-base.css";

/* === BEGIN color definitions === */
/* system prefers light, or default */
@media (prefers-color-scheme: light) {
    body {
	--text-color: #222;
	--bkg-color: #fff;
	--code-color: #c7254e;
	--code-bkg-color: #f9f2f4;
	--navlist-color: var(--code-color);
	--navlist-bkg-color: var(--code-bkg-color);
	--navlist-hover-color: #fff;
	--navlist-bkg-hover-color: var(--anchor-hover-color);
	--anchor-color: #222;
	--anchor-hover-color: var(--code-color);
	--footer-color: #444;
	--footer-divider-color: #eee;
	--caption-color: #888;

	/* light-mode */
	/* ========== */
	/* colorscheme: B4T_Classic_Q by Bram de Haan */
	/* author: Bram de Haan - https://github.com/atelierbram/Base4Tone-prism */
	/* https://github.com/atelierbram/Base4Tone-prism/blob/master/output/prism-b4t_classic-q-light.css */
	--code-fg: #08070d;
	--code-bg: #f6f6f9;
	--code-sel-bg: #d1cbfb;
	--code-comment: #95949e;
	--code-symbol: #8a2ac6;
	--code-string: #175dcf;
	--code-id: #564e53;
	--code-operator: #8f1e66;
	--code-operator-bg: #f6f6f980;
	--code-variable: #bd2887;
	--code-lineno-border: #b3b2bd;
	--code-keyword: #5a49df;
	--code-line-hl: #8a899454;
	--code-line-hl-2: #8a899400;
	--code-linno-before: #95949e;
	--code-line-hl-meta-bg: #8a899454;
	--code-line-hl-meta: #c8c7d1;
    }

    /* overridden to be dark */
    body.dark-theme {
	--text-color: #dedede;
	--bkg-color: #0d1115;
	--code-color: #b0bbda;
	--code-bkg-color: #222436;
	--anchor-color: #dedede;
	--anchor-hover-color: #c7254e;
	--footer-color: #bbb;
	--footer-divider-color: #333;
	--caption-color: #aaa;

	/* dark-mode */
	/* ========= */
	/* colorscheme (with modified comment color): B4T_Classic_Q by Bram de Haan */
	/* author: Bram de Haan - https://github.com/atelierbram/Base4Tone-prism */
	/* https://github.com/atelierbram/Base4Tone-prism/blob/master/output/prism-b4t_classic-q-dark.css */
	--code-fg: #f6f6f9;
	--code-bg: #1d1d20;
	--code-sel-bg: #4b38dc;
	--code-comment: #8885a0;
	--code-symbol: #74a8fb;
	--code-string: #d1cbfb;
	--code-id: #948990;
	--code-variable: #dd40a4;
	--code-operator: var(--code-variable);
	--code-operator-bg: #1d1d2080;
	--code-lineno-border: var(--code-operator-bg);
	--code-keyword: #e0baf7;
	--code-line-hl: #3b3a4054;
	--code-line-hl-2: #3b3a4000;
	--code-linno-before: #313036;
	--code-line-hl-meta-bg: #8a899454;
	--code-line-hl-meta: #c8c7d1;
    }
}

/* system prefers dark */
@media (prefers-color-scheme: dark) {
    body {
	--text-color: #dedede;
	--bkg-color: #0d1115;
	--code-color: #b0bbda;
	--code-bkg-color: #222436;
	--navlist-color: var(--code-color);
	--navlist-bkg-color: var(--code-bkg-color);
	--navlist-hover-color: #fff;
	--navlist-bkg-hover-color: var(--anchor-hover-color);
	--anchor-color: #dedede;
	--anchor-hover-color: #c7254e;
	--footer-color: #bbb;
	--footer-divider-color: #333;
	--caption-color: #aaa;

	/* dark-mode */
	/* ========= */
	/* colorscheme (with modified comment color): B4T_Classic_Q by Bram de Haan */
	/* author: Bram de Haan - https://github.com/atelierbram/Base4Tone-prism */
	/* https://github.com/atelierbram/Base4Tone-prism/blob/master/output/prism-b4t_classic-q-dark.css */
	--code-fg: #f6f6f9;
	--code-bg: #1d1d20;
	--code-sel-bg: #4b38dc;
	--code-comment: #8885a0;
	--code-symbol: #74a8fb;
	--code-string: #d1cbfb;
	--code-id: #948990;
	--code-variable: #dd40a4;
	--code-operator: var(--code-variable);
	--code-operator-bg: #1d1d2080;
	--code-lineno-border: var(--code-operator-bg);
	--code-keyword: #e0baf7;
	--code-line-hl: #3b3a4054;
	--code-line-hl-2: #3b3a4000;
	--code-linno-before: #313036;
	--code-line-hl-meta-bg: #8a899454;
	--code-line-hl-meta: #c8c7d1;
    }

    /* overridden to be light */
    body.light-theme {
	--text-color: #222;
	--bkg-color: #fff;
	--code-color: #c7254e;
	--code-bkg-color: #f9f2f4;
	--anchor-color: #222;
	--anchor-hover-color: var(--code-color);
	--footer-color: #444;
	--footer-divider-color: #eee;
	--caption-color: #888;

	/* light-mode */
	/* ========== */
	/* colorscheme: B4T_Classic_Q by Bram de Haan */
	/* author: Bram de Haan - https://github.com/atelierbram/Base4Tone-prism */
	/* https://github.com/atelierbram/Base4Tone-prism/blob/master/output/prism-b4t_classic-q-light.css */
	--code-fg: #08070d;
	--code-bg: #f6f6f9;
	--code-sel-bg: #d1cbfb;
	--code-comment: #95949e;
	--code-symbol: #8a2ac6;
	--code-string: #175dcf;
	--code-id: #564e53;
	--code-operator: #8f1e66;
	--code-operator-bg: #f6f6f980;
	--code-variable: #bd2887;
	--code-lineno-border: #b3b2bd;
	--code-keyword: #5a49df;
	--code-line-hl: #8a899454;
	--code-line-hl-2: #8a899400;
	--code-linno-before: #95949e;
	--code-line-hl-meta-bg: #8a899454;
	--code-line-hl-meta: #c8c7d1;
    }
}
/* === END color definitions === */

/* === BEGIN theme toggle styling === */
#theme-toggle {
    float: none;
    position: fixed;
    padding: 5px;
    bottom: 5px;
    right: 5px;
    color: var(--anchor-color);
    font-size: 1.2em;
}
#theme-toggle i:hover {
    cursor: pointer;
    color: var(--anchor-hover-color);
}
/* hide all theme buttons */
#theme-toggle i::before {
    display: none;
}
/* show all theme buttons on hover */
#theme-toggle:hover i::before {
    display: inline-block;
}

/* set theme button icons */
#theme-toggle i[data-theme="light-theme"]::before {
    content: '\f695'; /* white-balance-sunny */
}
#theme-toggle i[data-theme="dark-theme"]::before {
    content: '\f681'; /* weather-night */
}
#theme-toggle i[data-theme="auto"]::before {
    content: '\f15f';
}

/* system prefers light, or default */
@media (prefers-color-scheme: light) {
    /* default (not overridden), show toggle to dark */
    body:not(.dark-theme) #theme-toggle i[data-theme="dark-theme"]::before {
	display: inline-block;
    }
    /* overridden, show toggle back to light */
    body.dark-theme #theme-toggle i[data-theme="light-theme"]::before {
	display: inline-block;
    }
}

/* system explicitly prefers dark */
@media (prefers-color-scheme: dark) {
    /* default (not overridden), show toggle to light */
    body:not(.light-theme) #theme-toggle i[data-theme="light-theme"]::before {
	display: inline-block !important;
    }
    /* overridden, show toggle back to dark */
    body.light-theme #theme-toggle i[data-theme="dark-theme"]::before {
	display: inline-block !important;
    }
}
/* === END theme toggle styling === */

body {
    /*font-family: 'Verdana', sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 25px 25px;
    background-color: var(--bkg-color);
    color: 
}

header {
    color: var(--anchor-color);
}

code {
    padding: 2px 4px;
    color: var(--code-color);
    background-color: var(--code-bkg-color);
    white-space: nowrap;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 90%;
}

pre code {
    font-size: 16px;
}

pre {
    margin-left: 10px;
}

a {
    color: var(--anchor-color);
}

a:hover {
    color: var(--anchor-hover-color);
}

header, footer, div.page {
    max-width: 760px;
    margin: 0 auto;
    padding: 20px 30px;
}

footer {
    color: var(--footer-color);
    font-size: 0.85em;
    border-top: dashed var(--footer-divider-color) 2px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

header a {
    text-decoration: none;
}

div.page {
    color: var(--text-color);
}

.nav-list {
    display: flex;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-bottom: 20px;
}
.nav-list a i.mdi {
    margin-bottom: -12px;
    min-width: 1em;
    display: inline-block;
}
.nav-list a {
    font-size: 2.5em;
    padding: 12px;
    color: var(--navlist-color);
    margin: 2px;
    background-color: var(--navlist-bkg-color);
    white-space: nowrap;
    border-radius: 4px;
    text-decoration: none;
    line-height: 1em;
    display: inline-block;
}
.nav-list a:hover {
    background-color: var(--navlist-bkg-hover-color);
    color: var(--navlist-hover-color);
}
.nav-list .nav-list-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.nav-list .first-row a {
    font-size: 2.6em;
}
.nav-list .second-row a {
    font-size: 1.8em;
}

.captioned-center-image, .center-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.captioned-center-image .caption {
    color: var(--caption-color);
}

.image-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image-right img {
    margin-left: 10px;
}

.blog-post {
    margin-bottom: 12px;
}
.blog-post img {
    display: block;
    max-width: 100%;
    max-height: 360px;
    margin: auto;
    border: 2px solid var(--anchor-color);
}
.blog-post img:hover {
    border-color: var(--anchor-hover-color);
}
.blog-post img+em {
    display: block;
    text-align: center;
    font-size: 0.85em;
    margin-top: 0.85em;
}
.blog-post video {
    display: block;
    max-width: 100%;
    /* max-height: 360px; */
    margin: auto;
    border: 2px solid var(--anchor-color);
}
.blog-post video:hover {
    border-color: var(--anchor-hover-color);
}
.blog-post video+em {
    display: block;
    text-align: center;
    font-size: 0.85em;
    margin-top: 0.85em;
}
.blog-post-header {
    margin-right: 7px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.blog-post-header .meta {
    color: var(--caption-color);
    margin-bottom: 0;
}
.blog-post-header h2 a {
    text-decoration: none;
}
.blog-post-title {
    margin-bottom: 0;
}
.projects .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin-bottom: 20px;
    min-height: 124px;
}
.projects .project:last-of-type {
    margin-bottom: 0;
}
.blog-post .read-more {
    font-weight: bold;
}
.project .thumbnail {
    margin-right: 12px;
    border: solid black 2px;
    line-height: 0;
}
.project .thumbnail:hover {
    border: solid var(--anchor-hover-color) 2px;
}
.project-inner {
    flex-grow: 2;
    color: var(--anchor-color);
}
.project-title {
    margin-right: 7px;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project-title a {
    text-decoration: none;
}
.project-type {
    color: var(--caption-color);
}
.project-year {
    font-size: 0.65em;
    font-weight: normal;
}
a.anchor {
    color: var(--caption-color);
    text-decoration: none;
    display: none;
}
a.anchor:hover {
    color: var(--anchor-hover-color);
}
:is(h1, h2, h3, h4, h5, h6):hover a.anchor {
    display: inline;
}
figure figcaption {
    color: var(--caption-color);
    text-align: center;
    font-size: 0.95em;
    line-height: 1em;
}
figcaption p {
    margin-top: 0.7em;
}

.list-item {
    display: flex;
    flex-flow: row wrap;
}
.list-item > * {
    flex: 1 100%;
    order: 1;
}
.list-item .wrapper {
    order: 0;
    flex: 3;
}
.list-item > figure {
    flex: 1;
    order: 1;
    margin: 10px;
    margin-right: 0px;
}
.list-item > iframe {
    padding: 20px;
    order: 2;
}

.mini-list-item {
    display: flex;
    flex-flow: row wrap;
}
.mini-list-item > * {
    flex: 1 100%;
    order: 1;
}
.mini-list-item .wrapper {
    order: 0;
    flex: 3;
}
.mini-list-item > figure {
    flex: 1;
    order: 1;
    margin: 10px;
    margin-right: 0px;
}
.mini-list-item > iframe {
    padding: 20px;
    order: 2;
}
