{{ template "base.html" . }}

{{ define "breadcrumbs"}}/kylemtravis{{ end }}

{{ define "body" }}
    <div class="nav-list">
        <div class="nav-list-row first-row">
        <a href="/blog"><i class="mdi mdi-file"></i> blog</a>
        <a href="/projects"><i class="mdi mdi-settings"></i> projects</a>
        <a href="/about"><i class="mdi mdi-account-circle"></i> about</a>
        </div>
        <div class="nav-list-row second-row">
        <a target="_blank" rel="me" href="https://toot.ktrv.dev/@k"><i class="mdi mdi-mastodon"></i> mastodon</a>
        <a target="_blank" href="//twitter.com/kmakai"><i class="mdi mdi-twitter"></i> twitter</a>
        <a target="_blank" href="//kmakai.itch.io"><i class="mdi mdi-gamepad-variant"></i> games</a>
        <a target="_blank" href="//github.com/ktravis"><i class="mdi mdi-github-circle"></i> github</a>
        <a target="_blank" href="//youtube.com/user/wetscience"><i class="mdi mdi-youtube-play"></i> youtube</a>
        <a target="_blank" href="mailto:kylemtravis@gmail.com"><i class="mdi mdi-gmail"></i> email</a>
        </div>
    </div>
{{ end }}
